#header, #mainmenu, .dropdown-menu, .dropdown-menu.submenu {background-color: #060042;border-color: #060042;}
#header {border-color: #060042;}
#footer {background-color: #060042;}
table.listing tr.fastTracked {background-color: #000000;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {background-color: #323232;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #7c70ff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background-color: #7c70ff;}
#pageFooter {background-color: #1e195d;}
#pageFooter-bottom {background-color: #060042;}
input.defaultButton {color: #666666;}
input.button, .btn-primary, input.button:link, .btn-primary:link  {background-color: #666666;border-color: #666666;}
input.button:hover, .btn-primary:hover, input.button:active, .btn-primary:active, input.button:visited, .btn-primary:visited {background-color: #5c5c5c;border-color: #5c5c5c;}
.btn-primary, .btn-primary:link, a.btn-primary, a.btn-primary:link, input.button:link, .btn-primary:link {color: #ffffff;}
a,a:link {color: #428BCA;}
a:hover, a:active, a:visited {color: #3881c0;}
body {background-color: #ffffff;}
input.defaultButton, input.defaultButton:link {background-color: #ffffff;border-color: #cccccc;}
input.defaultButton:hover, input.defaultButton:active, input.defaultButton:visited, input.defaultButton:focus, input.btn-default:focus {background-color: #ebebeb;border-color: #adadad !important;color: #333;}
body {
/* background-color: #949494; */
background: url('back.jpg');
}

#rightSidebar .block {
	margin : 10px;
}
h4, h3, h2, h1 {
	font-family: tahoma, arial, verda, sans-serif, helvetica;
}
#pageFooter h3 {color: #ffffff;}
#articleAbstract{
	text-align: justify;
}
#main h2, #main h3, #main h4 {
	color : #060042;
}

#rightSidebar, #leftSidebar {
	background-color: #ffffff;
}
