@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    background-color: #fff;
    background: url(https://images.freeimages.com/images/premium/small-comps/3584/35844390-damask-decorative-wallpaper-for-walls.jpg);
    background-blend-mode: luminosity;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato';
    color: #515151;
    line-height: 1.42857;
	font-size: 1.6em;
	padding-bottom: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato;
    font-weight: 500;
    line-height: 1.1;
}
#header {
    background-color: #fff;
    border-color: #4682b4;
}
nav#mainmenu {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 50px;
    background-color: #4682b4;
    border: 0 solid transparent;
    z-index: 1;
    top: 0;
    width: 100%;
}

ul.sidemenu li {
    display: block;
    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
}
ul.sidemenu li a {
    background-color: #eee;
    border-bottom: 1px solid #b5b5b5;
    color: #fff;
    display: block;
    padding: .66em 10px .6em 13px;
    text-decoration: none;
}
