@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    background-color: #fff;
    background: url(https://images.freeimages.com/images/premium/small-comps/3584/35844390-damask-decorative-wallpaper-for-walls.jpg);
    background-blend-mode: luminosity;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato';
    color: #515151;
    line-height: 1.42857;
	font-size: 1.6em;
	padding-bottom: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato;
    font-weight: 500;
    line-height: 1.1;
}
