#leftSidebar, #rightSidebar {
    padding: 6px 0 0 2px;
}
.panel-body {  color: #000; }
#pageFooter { display: none; }
li#categories { display: none; }
.intro {
    background-color: #fff2db;
    border: 1px dotted Orange;
    padding: 10px;
}
