a {
    color: #0e314e;
}
a:hover {
    color: #2975b3;
    font-weight: bold;
}
a:visited {
    color: #0e314e;
    font-weight: bold;
}
.navbar {
    background-color: #2f506b;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-nav > .selected > a, .navbar-nav > .selected > a:focus, .navbar-nav > .selected > a:hover, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li:hover {
    color: #fefefe;
    background-color: #6584a6;
}
.btn-danger {
    color: #fff;
    background-color: #347ebb;
    border-color: #347ebb;
}
.button, .action, .toggleExtras-inactive, .toggleExtras-active, #setup .options {
    border: 1px solid #07355E;
    background-color: #2f506b;
}
.blockButton {
    background-color: #275479;
}
.panel-primary > .panel-heading {
    background-color: #2f506b;
    border-color: #2f506b;
}
.nav-tabs li a:hover,
.nav li a:focus {
    background-color: #2f506b;
    color: #ffffff;
}
.blockButton:hover {
    background-color: #9fb8d2;
}
#navFooter {
    background-color: #507ca0;
}
#pageFooter {
    background-color: #91a9bd;
}
#pageFooter a {
    color: #000;
}
div.warningMessage{ display:none; }

#pageFooter{clear:both}#main{min-height:1350px}
