a {
    color: #0e314e;
}
a:hover {
    color: #2975b3;
    font-weight: bold;
}
a:visited {
    color: #0e314e;
    font-weight: bold;
}
[class~=navbar] {
    background-color: #2f506b;
}
[class~=navbar-inverse] [class~=navbar-nav] > [class~=open] > a, [class~=navbar-inverse] [class~=navbar-nav] > [class~=open] > a:focus, [class~=navbar-inverse] [class~=navbar-nav] > [class~=open] > a:hover, [class~=navbar-nav] > [class~=selected] > a, [class~=navbar-nav] > [class~=selected] > a:focus, [class~=navbar-nav] > [class~=selected] > a:hover, [class~=navbar-nav] > li > a:hover, [class~=navbar-nav] > li > a:focus, [class~=navbar-nav] > li:hover {
    color: #fefefe;
    background-color: #6584a6;
}
.btn-danger {
    color: #fff;
    background-color: #347ebb;
    border-color: #347ebb;
}
[class~=button], [class~=action], [class~=toggleExtras-inactive], [class~=toggleExtras-active], #setup [class~=options] {
    border: 1px solid #07355E;
    background-color: #2f506b;
}
[class~=blockButton] {
    background-color: #275479;
}
.panel-primary > .panel-heading {
    background-color: #2f506b;
    border-color: #2f506b;
}
[class~=nav-tabs] li a:hover,
[class~=nav] li a:focus {
    background-color: #2f506b;
    color: #ffffff;
}
.blockButton:hover {
    background-color: #9fb8d2;
}
#navFooter {
    background-color: #507ca0;
}
#pageFooter {
    background-color: #91a9bd;
}
#pageFooter a {
    color: #000;
}
