body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
}

div {
	text-align: left;
}

p {
	margin: 1em 0;
}

table {
	border: 0;
	border-spacing: 0;
	font-size: 1.0em;
}

form {
	margin: 0;
}

a {
	text-decoration: none;
}

a:link {
	color:#0033FF;
}

a:active {
	color:#0033FF;
}

a:visited {
	color: #0033FF;
}

a:hover {
	color: #0000CC;
	background: none;
	/*font-weight: bold;*/
}

a.plain {
	text-decoration: none;
}


ul {
	margin: 0.25em 0 0.75em 0;
	padding: 0 0 0 2.5em;
}

tt {
	font-size: 1.25em;
}

label {
}

label.error {
	color: #900;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	background-color: #E6F2FF;
	color: #000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #E8E8E1;
	border-right: 1px solid #E8E8E1;
	font-size: 1em;
	padding: 2px;
}

input.button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #0080C0;
	color: #FFFFFF;
	font-size: 1em;
}

input.defaultButton {
	background-color: #0080C0;
	color: #FFFFFF;
	font-weight: bold;
}


/**
 * Main layout elements
 */

#container {
	width: 100% !important;
	min-width: 730px !important;
	margin: 0px auto;
	text-align: center;
}

#header {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color:#3bb1ae;
	color:#FFFFFF;
	text-align: center;
	height: auto;
	border-bottom: 4px solid #DBD7E5;
}

#headerTitle {
	text-align: left !important;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header h1 {
	color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding:0;
	text-align:center;
}

#footer {
	width: 100%;
	min-height: 50px;
	position: static;
	clear: both;
	text-align: center;
}

#footerContent {
	width: 100%;
	margin: 0 auto;
	padding-left: 10%;
}

#main {
	padding: 0.5em 0em 2em 0em;
}

#main h2 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0.5em;
	font-weight: normal;
	border: none;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 1.6em;
	color: #3bb1ae;
	text-shadow: none;
}

#main h3 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	color: #3bb1ae;
}


#navbar { 
	margin-top: -15px;
	margin-bottom:10px;
	padding-top: 15px;
	padding-bottom: 0;
	padding-left: 4px;
	padding-right: 4px; 	
	background-color:#3bb1ae; 
	border-left:1px solid #3bb1ae;
	border-right:1px solid #3bb1ae;
	border-bottom:1px solid #3bb1ae; 
	-moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; 
	-webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; 
	border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
	border-bottom:none;
	text-align:center;
	height: 33px;
	}

#navbar ul {
	/*min-width: 140px;*/
	
}

/* First Level - Menu Primary */

#navbar li a {
    color: #fff;
    padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
	
}

#navbar li a:hover, .menu-primary li a:active, .menu-primary li a:focus, 
#navbar li:hover > a, .menu-primary li.current-cat > a, .menu-primary li.current_page_item > a, .menu-primary li.current-menu-item > a {
    color: #fff;
    outline: 0;
    background: #7de1df;
}

#topnav{	
	position:absolute;
	margin-top: -168px;
	margin-left: -40px;
	padding-top: 0px;
	text-align:left;
	list-style-type:none;
	font-size: 0.7em;
	
	}
#topnav a {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000000;
}

#topnav ul { float: left; }
#topnav ul li { list-style-type: none; float: left; }
#topnav a {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000000;
}
#topnav a:hover, nav ul li.current_page_item a {
			color: yellow;
			font-weight: bold;
			margin: 0 5px;
			padding: 5px 10px;
			text-decoration: none;
			text-shadow: 2px 2px 3px #000;
		}
	
	
#breadcrumb {
	padding-top: 1em;
	font-size: 0.7em;
}

#content {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	font-size: 0.75em;
	/*border-top: 2px dotted #000;*/
	border-top: 1px solid #ADD11F;
}

#content h3 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1.8em;
	border: none;
	clear:both;
}

#content h4 {
	margin: .75em 1em 0.25em 0em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	border: none;
}

#content h5 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-weight: bold;
	font-size: 1em;
	border: none;
}


/**
 * Breadcrumbs
 */

#breadcrumb a {
	text-decoration: none;
	border: none;
}

#breadcrumb a.current {
	font-weight: bold;
}


/**
 * Footer elements
 */

#footer div.debugStats {
	font-size: 0.6em;
}


/**
 * Additional text styles
 */

#member li { padding-bottom: 8px; }
#member li a { text-decoration:none; }

span.disabled, label.disabled {
	color: #666;
}

a.action, a.file {
	font-size: 0.85em;
	text-transform: uppercase;
}

a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.formRequired {
	color: #333;
	font-size: 0.9em;
}

span.instruct {
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

.nowrap {
	white-space: nowrap;
}

/**
 * Table styles
 */

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data tr {
}

table.data td {
	padding-bottom: 0.25em;
}

table.data td.label {
	padding-right: 1em;
}

table.data td.value {
}

table.data td.separator {
	padding: 0.5em;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}

/**
 * Form-specific elements
 */

span.formError {
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

span.formSuccess {
	color: #090;
	font-weight: bold;
	font-size: 1em;
}

ul.formErrorList {
	color: #900;
}


/**
 * Other organizational elements
 */

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	margin: 0;
	padding: 0;
	padding-right: 5px;
	display: inline;
}

ul.menu li.current {
	font-weight: bold;
}

ul.menu a {
	font-size: 0.85em;
	text-transform: uppercase;
	text-decoration: none;
}

ul.steplist {
	margin: 0;
	padding: 0;
	list-style-type: decimal;
}

ul.steplist li {
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	padding-right: 0.5em;
	display: inline;
	text-transform: uppercase;
}

ul.steplist li.current {
	font-weight: bold;
}

ul.steplist a {
	text-decoration: none;
}

ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}


/**
 * Other organizational elements
 */

div.separator {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.25em;
	padding: 0;
	border-bottom: 1px dotted #000;
	font-size: 0.5em;
	line-height: 25%;
}

#rightSidebar {
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	/*border-top: solid 10px #a6ce39;*/
	background-color:#FFFFFF;
	border: none;
	}

#rightSidebar div.block {
	background-color:#FFFFFF;
	border:1px solid #3bb1ae;
	margin-top: 8px;
	padding: 4px;
	-webkit-box-shadow: 2px 2px 4px #CACACA; /* Safari */
	box-shadow: 2px 2px 4px #CACACA;
	-moz-box-shadow: 2px 2px 4px #CACACA;
	-o-box-shadow: 2px 2px 4px #CACACA;
	}

#rightSidebar div.block a {
	color:#333333;
	text-decoration:none;	
	}

#rightSidebar span.blockTitle {
	background-color: #3bb1ae;
	color:#FFFFFF;
	border-bottom: 1px solid #999999;
	font-weight:bold;
	text-align: center;
	margin-top: -4px;
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: 8px;
	}
#rightSidebar span.blockSubtitle {
	font-weight:bold;
	margin-top: 4px;
	}

/*#sidebarDevelopedBy {
	background-color:#CC6633;
	}*/
	
/* list daripada paper / table of content */
#content h4.tocSectionTitle{
	border-bottom:1px dotted #999999;
	}
	
table.tocArticle td.tocTitle {
	width: 80%;
	height: 100%;
}

table.tocArticle td.tocGalleys {
	width: 20%;
	text-align: right;
}

table.tocArticle {	
	border-bottom:1px dotted #CCCCCC;
	height: 70px;
	vertical-align:bottom;
	}

table.tocArticle td.tocTitle {
	/*border-top:1px solid #CCCCCC;*/
	padding: 5px;
	font-size: 1.2em;
	color:#003A75;
	vertical-align:bottom;
	}

table.tocArticle td.tocAuthor {
	/*border-bottom:1px solid #999999;*/
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 1.4em;
	}

table.tocArticle td.tocGalleys{
	vertical-align:middle;
	}
table.tocArticle td.tocTitle a,a:visited,a:active,a:hover{
	 text-decoration:none;
	 color:#003A75;
	 }
.recordContents a {
color:#339900;
}

div.separator { border-bottom:none; }
.iaes_foot{ background-color: #005900; clear: left; width: 100%; margin-top: 10px; border-bottom: 2px solid #CAFA5A; min-height: 150px; }
.iaes_foot_main { float: left; width: 63%; margin-left: 10%; display: inline; 
	margin-top: 8px; 
	font-size: 0.7em; color:#FFFFFF;
	}

.iaes_logo { float:left; width: 140px; text-align:center; }
.section_logo {float:left; text-align:center; vertical-align:baseline;min-height: 60px;}
.item_logo { float:left; padding: 4px;  min-height: 60px; text-align:center; vertical-align:baseline;}
.block p { margin: 0; }

.block ul {
    list-style: none;
    padding: 1px;
}
.block ul li a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #fff;
    background-color: #86ddda;
    text-decoration: none;
    color: #fff;
}
